<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="feature_header text-center">
            <h3 class="feature_title"><b>About</b></h3>
            <div class="divider"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="contact_full">
        @* 
        <div class="col-md-12">
            <h3>Vision</h3>
            <b>Transforming Engineers into Outstanding Professionals by providing an online and off line    learning place</b>
            <h3>Mission</h3>
            <b>Skilling for professional success by enabling the joining the capabilities of people with the requirements of the industry </b>

        </div>
        *@
</hr>
        <div class="row" style="border-bottom-color: red">
            <div class="col-md-3" style="">
                <img src="~/images/AboutUS/satchi.jpg" height="300px;" width="250px" />
            </div>
            <div class="col-md-9">
                <p style="" class="pull-right">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dr Satchidananda is the Founder and CEO of Srichid Technologies Private Limited ; 
  Development Technologies & Research LLC USA ; srichid GLOBALMICROFINANCE FOUNDATION  and  srichid HEALTHCARE . 
He has more than 30 years of financial domain   and technology solutioning experience. He most recently held national leadership positions with HP and IBM.
 He also worked with the Reserve Bank of India for more than 26 years also serving as the Regional Director at RBI – Orissa State. 
He has extensive financial domain expertise gained through three decades of experience. He has M.S. in Financial Markets (Illinois) and a PH.D in Economics with research performed on Financial Risk Management.
 He is also skilled in creating Risk Models for the Financial Services Industry. 
Professor Satchidananda Sogala was also   the   Founder & CEO of GLOBALRISKHUB and the originator of the innovative technology -based solution for the delivery of financial & other services delivery 
,GANASEVA , which is being used by several MFIs and commercial  banks in India for their operations. 
Dr Satchidananda has over 30  years of experience in  financial services and technologies; Handled large technology implementation projects; 
 Conducted research and consulting in the area of risk intelligence and analytics in India and abroad;
 Has published over 20 papers in the area of risk modeling and risk technology solutioning ; 
Held the position of  Professor &  Research Director , CBIT, International Institute of Information Technology , Bangalore and lectured at Indian Institute of Management 
                </p>

            </div>
            <p>
                &nbsp;&nbsp;&nbsp;& Indian Institute of Technology and keynote speaker at several international Conferences ,
 Symposiums & Workshops. Formerly, he has significant management   and technology &nbsp;&nbsp;&nbsp;experience   both in the Government and Private Sector ,
 in his capacity  as the Regional Director, Reserve Bank of India and later as  Head of Risk Solutions and Research at HP India & &nbsp;&nbsp;&nbsp;IBM and Research Director at   
CBIT International Institute of Information Technology. He holds MS (ECON) from University of 
Illinois at Urbana-Champaign, USA,  & Ph.D. ( Credit Risk &nbsp;&nbsp;&nbsp;Quantification),  and  various other certifications ,M.A.,
 L.L.LB, CAIIB, CRB , B.A.ED, P.G.C.T.E.,O.D.E.,& ISO 9001  Lead Auditor , Information  Systems Audit ,  SAS Programming & Data Mining , 
&nbsp;&nbsp;&nbsp;Oracle DBA, JDE One World & Microsoft Server Certifications.
 He is also the Regional Director, Professional Risk Managers   International Association, and Bangalore.
            </p>
        </div>
    </div>

        <div>
            <p class="col-md-6 text-left">
                   @Html.ActionLink("Know More >> Markets and Risk Management", "Riskmethod", "Home", null)
            </p>
             <p class="col-md-6 text-right">
                   @Html.ActionLink("Know More >> Digital and Financial Inclusion", "Digitalmethod", "Home", null)
            </p>
        </div>
</div>
