@{
    ViewBag.Title = "About";
}
<br />
<br />
<br />
<h3>Vision</h3>
<b>Transforming Engineers into Outstanding Professionals by providing an online and off line    learning place</b>
<h3>Mission</h3>
<b>Skilling for professional success by enabling the joining the capabilities of people with the requirements of the industry </b>



