<<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="feature_header text-center">
            <h3 class="feature_title"><b>Faculty</b></h3>
            <div class="divider"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="contact_full">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Qualification
                    </th>
                    <th>
                        Experience
                    </th>


                    @*<th></th>*@
                </tr>


                <tr>
                    <td>
                        Dr. Satchidananda Sogala
                    </td>
                    <td>
                        Ph.D
                    </td>
                    <td>
                        20 Years
                    </td>

                </tr>
                <tr>
                    <td>
                        Gangireddy Gubala
                    </td>
                    <td>
                        MCA
                    </td>
                    <td>
                        4 Years
                    </td>

                </tr>
                <tr>
                    <td>
                        Midhun
                    </td>
                    <td>
                        BE
                    </td>
                    <td>
                        1 year
                    </td>

                </tr>
                <tr>
                    <td>
                        Swathi A.L
                    </td>
                    <td>
                        MCA
                    </td>
                    <td>
                        1 year
                    </td>

                </tr>


            </table>
        </div>

    </div>
</div>

