
@{
    ViewBag.Title = "FAQs";
    Layout = "~/Views/Shared/CommonLayout.cshtml";
}

<div class="panel-group" id="AccordionCourse">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#AccordionCourse" href="#collapseTwo">
                <img src="newimages/DownArrow.png">
                Does BestDotNetTraining offer any Live Projects?
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="col-xs-12">
                    Yes, with every course we have a sample project document along that contains complete
                    source code.
                    <br>
                    <br>
                    We also provide a special course on developing Live Project which will help you
                    to learn the process involved in all the stages of application development. For
                    more details please check <b><a id="aLiveProjectquestion" href="/dot-net-live-projects">Live Projects</a></b> page.
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#AccordionCourse" href="#collapseThree">
                <img src="newimages/DownArrow.png">
                What is the pre-requisite to take Ms.NET training?
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="col-xs-12">
                    The subscriber should have knowledge of any one programming language. It can be
                    either ‘C’ or any of its equivalents.
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#AccordionCourse" href="#collapseFour">
                <img src="newimages/DownArrow.png">
                Do I need to know Object Orientation to learn MS.NET?
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="col-xs-12">
                    No, it’s not required to know C++ or any other object oriented language. Object
                    Orientation will be covered in depth as a part of the curriculum.
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#AccordionCourse" href="#collapseFive">
                <img src="newimages/DownArrow.png">
                What do I get when I take subscription?
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="col-xs-12">
                    Following are what you will be able to do for each of the module
                    <ol type="1">
                        <li>Video Access for the period mentioned in the subscription. </li>
                        <li>
                            Course Material in PDF format – You can download and save them for future references.
                        </li>
                        <li>
                            Assignments – For you to practice the subject learnt over a period of time. We also
                            provide solutions for most of the assignments.
                        </li>
                        <li>
                            Interview Questions – In every module we provide you with a set of interview questions.
                        </li>
                        <li>
                            Online Exam – You can evaluate yourself and you can do the same for each and every
                            module.
                        </li>
                        <li>Tech Support – For any kind of questions you may have while practicing the subject</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#AccordionCourse" href="#collapseSix">
                <img src="newimages/DownArrow.png">
                What are the software requirements for online classes?
            </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="col-xs-12">
                    You need to have latest version of Visual Studio.NET i.e. VS.NET 2010 installed
                    on your machine and no other additional software is required. You can download the
                    trial version from here.
                    <br>
                    Links for downloading the required software (some are free and some are free trails):<br>
                    <a href="http://www.microsoft.com/visualstudio/en-us/products/2010-editions/visual-csharp-express" style="color: Black;">
                        <img src="newimages/CourseArrow.png">
                        Visual C#.Net 2010 Express
                    </a>
                    <br>
                    <a href="http://www.microsoft.com/visualstudio/en-us/products/2010-editions/visual-basic-express" style="color: Black;">
                        <img src="newimages/CourseArrow.png">
                        Visual Basic 2010 Express
                    </a>
                    <br>
                    <a href="http://www.microsoft.com/visualstudio/en-us/products/2010-editions/visual-web-developer-express" style="color: Black;">
                        <img src="newimages/CourseArrow.png">
                        Visual Web Developer 2010 Express
                    </a>
                    <br>
                    <a href="http://www.microsoft.com/visualstudio/en-us/products/2010-editions/express-iso" style="color: Black;">
                        <img src="newimages/CourseArrow.png">
                        Visual Studio 2010 Express All-in-One ISO
                    </a>
                    <br>
                    <a href="http://www.microsoft.com/en-in/download/details.aspx?id=16057" style="color: Black;">
                        <img src="newimages/CourseArrow.png">
                        Microsoft Visual Studio 2010 Professional Trial – ISO
                    </a>
                    <br>
                    <a href="http://www.microsoft.com/en-in/download/details.aspx?id=26729" style="color: Black;">
                        <img src="newimages/CourseArrow.png">
                        SQL Server Express
                    </a>
                    <br>
                    <a href="http://sharepoint.microsoft.com/en-in/Pages/Try-It.aspx" style="color: Black;">
                        <img src="newimages/CourseArrow.png">
                        SharePoint 2010
                    </a>
                    <br>
                    <a href="http://technet.microsoft.com/en-us/evalcenter/dd459137.aspx" style="color: Black;">
                        <img src="newimages/CourseArrow.png">
                        Windows Server2008 R2
                    </a>
                    <br>
                    <a href="http://www.microsoft.com/en-us/download/details.aspx?id=26729" style="color: Black;">
                        <img src="newimages/CourseArrow.png">
                        SQL Server 2008 R2 (64 bit)
                    </a>
                    <br>
                    <a href="http://www.microsoft.com/en-us/download/details.aspx?id=16631" style="color: Black;">
                        <img src="newimages/CourseArrow.png">
                        SharePoint Server 2010
                    </a>
                    <br>
                    <a href="http://download.microsoft.com/download/5/B/6/5B645118-85F5-41D6-8DB9-2B7BAB835A79/SharePointDesigner.exe" style="color: Black;">
                        <img src="newimages/CourseArrow.png">
                        SharePoint Designer 2010
                    </a>
                    <br>
                    <a href="http://www.microsoft.com/en-us/download/details.aspx?id=18914" style="color: Black;">
                        <img src="newimages/CourseArrow.png">
                        Search Server 2010 Express
                    </a>
                    <br>
                    <a href="http://office.microsoft.com/en-us/products/" style="color: Black;">
                        <img src="newimages/CourseArrow.png">
                        MS-Office 2010
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#AccordionCourse" href="#collapseSeven">
                <img src="newimages/DownArrow.png">
                What are the Hardware System Requirements?
            </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="col-xs-12">
                    Following are the Hardware System Requirements:
                    <ol type="1">
                        <li>XP/Vista/7 or higher</li>
                        <li>2.0 GHz processor or higher</li>
                        <li>512MB of system memory </li>
                        <li>Support for DirectX 9 graphics and 64MB of graphics memory </li>
                        <li>32MB free hard drive* </li>
                        <li>1024x768 screen resolution </li>
                        <li>Audio output </li>
                        <li>Broadband Internet access: DSL or Cable (minimum bandwidth 350kbps)</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#AccordionCourse" href="#collapse8">
                <img src="newimages/DownArrow.png">
                How do I access video tutorials?
            </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="col-xs-12">
                    Once you've purchased a subscription, you will get a welcome message and that would
                    contain all the required detail accessing the sessions.
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#AccordionCourse" href="#collapse9">
                <img src="newimages/DownArrow.png">
                What should be my minimum internet speed to participate?
            </h4>
        </div>
        <div id="collapse9" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="col-xs-12">
                    512 KBPS A broadband connection (T1, DSL, or Cable Modem) is best.
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#AccordionCourse" href="#collapse10">
                <img src="newimages/DownArrow.png">
                Can I download the videos and cache it locally so that I can watch it at a later date?
            </h4>
        </div>
        <div id="collapse10" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="col-xs-12">
                    No, this cannot be done. If you somehow find ways to download the videos, our application
                    will detect this and your account would be locked immediately. The videos are protected
                    by Copyright law.
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#AccordionCourse" href="#collapse11">
                <img src="newimages/DownArrow.png">
                Can I share my account with someone else?
            </h4>
        </div>
        <div id="collapse11" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="col-xs-12">
                    No, you are only given single user permission. Our system will automatically track
                    your location based on your IP address and other parameters. If it finds that the
                    same login credentials are used from different locations at the same time, your
                    account will be blocked and subscription will be cancelled without any refund. So
                    it is your responsibility to ensure that your credentials are not compromised.
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#AccordionCourse" href="#collapse12">
                <img src="newimages/DownArrow.png">
                What is your mode of online trainings?
            </h4>
        </div>
        <div id="collapse12" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="col-xs-12">
                    We have 2 different models of trainings.
                    <br>
                    (i) <b>Video based training</b>
                    <br>
                    (ii) <b>Live interactive sessions</b><br>
                    <b>Video based training:</b> It will be completely video based training with technical
                    support assistance. These are prerecorded by Mr. Sandeep Soni. You can watch the
                    videos and learn the course.<br>
                    <b>Live Interactive sessions:</b> It will be live interactive sessions and will
                    be taken through WebEx meeting or Skype. It will be one on one kind of sessions.<br>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#AccordionCourse" href="#collapse13">
                <img src="newimages/DownArrow.png">
                What are the additional things you provide apart from videos?
            </h4>
        </div>
        <div id="collapse13" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="col-xs-12">
                    We provide you with complete course material which is in a PDF format copywrite
                    material of deccansoft, where in you can download and save it in your computer for
                    your future reference.
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#AccordionCourse" href="#collapse14">
                <img src="newimages/DownArrow.png">
                Is there any sample videos?
            </h4>
        </div>
     
    </div>
</div>

