
@{
    ViewBag.Title = "Faculty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="feature_header text-center">
            <h3 class="feature_title"><b>Faculty</b></h3>
            <div class="divider"></div>
        </div>
    </div>
</div>



